
#wrap { width:100%; height:auto; min-height:700px; }

#headBox { width:100%; height:auto; }
#viewBox { width:100%; height:auto; }
#sellerBox { width:100%; height:auto;  }
#beyond_lineBox { width:100%; height:auto; background-color:#d3d3d3; }
#productBox { width:100%; height:auto; background-color:#dff; }
#reviewBox { width:100%; height:auto; background-color:#666; }
#noticeBox { width:100%; height:auto; background-color:#ddd; }
#footBox { width:100%; height:auto; background-color:#a9a9a9; }


/* design-460px */
@media screen and (max-width:480px){

/* headBox */
#headBox { height:146px;}

.gnb_wrap { 
  position: relative;
  width: 100%; height:100px; 
  padding:10px; padding-top:20px; padding-bottom:5px; box-sizing: border-box; 
  background-color: #fff; }

h1 { 
  position: absolute; top:20px; left:50%; transform: translateX(-50%);
  width:112px; height:28px; 
  background-image: url(../img/logo.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat; }

/* btn */
.gnb_btn { 
  float: left; width:20px; height:20px; margin-top:5px;
  background: url(../img/ico_commin.png) no-repeat 0 -25px;
  background-size: 500px 500px !important; }

.gnb_open_btn { width: 100%; height: 100%; }

.gnb_open_btn > button { display:block; width: 100%; height: 100%; }

.gnbBox { 
  display:none;
  position:fixed; top:0; left:0; 
  width:260px; height:100%; 
  z-index: 1000; background-color: #fff; }

.gnbBg { 
  display:none;
  position: fixed; top:0; left:0;
  width: 100%; height: 100%; z-index: 999; background-color: #000; opacity:0.6;}

.gnb_close_btn { 
  position: absolute; top:20px; right:-30px; 
  width:20px; height:20px;
  background: url(../img/ico_commin.png) no-repeat 0 -45px;
  background-size: 500px 500px !important; }

.gnb_close_btn > button { display:block; width: 100%; height: 100%; }

.login { width:100%; height:135px; padding:26px; box-sizing: border-box; text-align: center;}

.login p { font-size:12px; }

.login a { 
  display:block; width: 115px; height:30px; 
  margin:auto; margin-top:20px; 
  font-size: 12px; font-weight: bold; line-height:30px;
  color:#572600; background-color: #99d7db; }

.open_menu { width: 100%; height:auto; background-color: #fff; }

.open_menu > ul { width: 100%; height: 100%; }

.open_menu > ul > li { 
  width:100%; height:50px; line-height: 30px;
  font-size:14px; border-top:1px solid #f0f0f0; 
  color:#572600; font-weight: bold; }

.open_menu > ul > li > a { 
  display:block; position: relative; width: 100%; height: 100%;  
  padding:10px 20px; box-sizing: border-box; }

.open_menu > ul > li > a:after { 
  content:" "; position: absolute; top:50%; transform: translateY(-50%); right:20px;
  width:15px; height:15px;
  background: url(../img/ico_commin.png) no-repeat;
  background-position: -95px -30px !important;
  background-size: 500px 500px !important;}

.open_menu > ul > li.on > a:after { 
  content:" "; position: absolute; top:50%; transform: translateY(-50%); right:20px;
  width:15px; height:15px;
  background: url(../img/ico_commin.png) no-repeat;
  background-position: -95px -45px !important;
  background-size: 500px 500px !important; }  

.open_area { display:none; width: 100%; height:auto; background-color: #fff; }

.open_area > .tab { width:100%; height:36px; background-color:#f0f0f0;  }

.tab > li { 
  float: left; width:50%; height:100%; color:#8c8c8c;
  font-size:13px; font-weight: bold; text-align: center;}

.category { width: 100%; height:auto; padding:20px; color:#585858; box-sizing: border-box; }

.category > li { width: 100%; height:auto; }
.category > li > a { display:block; width: 100%; height: 100%;  padding:8px; box-sizing: border-box; }

.line { display:none; width: 100%; height:auto; padding:20px; color:#585858; box-sizing: border-box; }

.line > li { width: 100%; height:auto; }
.line > li > a { display:block; width: 100%; height: 100%;  padding:8px; box-sizing: border-box; }

.icon_menu { width:100%; height:219px; background-color:#f0f0f0; }

.icon_menu > ul { width: 100%; height: 100%; }

.icon_menu > ul > li { 
  float: left; width:50%; height:100px; 
  color:#333; font-size:12px;
  border-right:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; box-sizing: border-box; }

.icon_menu > ul > li:nth-child(2n) { border-right:0; }
.icon_menu > ul > li:nth-child(3) { border-bottom: 0; } 
.icon_menu > ul > li:nth-child(4) { border-bottom: 0; } 

.icon_menu a { display:block; width: 100%; height: 100%; padding:20px 15px; box-sizing: border-box; }

.icon_menu li:nth-child(3) a { padding-bottom: 0; }

.icon_menu a:before { 
  content:" "; display:block; margin:auto;
  width:30px; height:30px; margin-bottom:10px; 
  background: url(../img/ico_commin.png) no-repeat;
  background-size: 500px 500px !important; }

.icon_menu li:nth-child(1) a:before { background-position: -145px 0 !important;}
.icon_menu li:nth-child(2) a:before { background-position: -145px -30px !important;}
.icon_menu li:nth-child(3) a:before { background-position: -145px -60px !important;}
.icon_menu li:nth-child(4) a:before { background-position: -145px -90px !important;}

.icon_menu span { display:block; text-align: center; font-weight: bold; }

.info_menu { width:100%; height:90px; background-color: #f0f0f0; }

.info_menu > ul { width: 100%; height: 100%; }
.info_menu > ul > li { 
  float: left; width:50%; height:40px; background-color: #fff;
  border-right:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; box-sizing: border-box; }

.icon_menu > ul > li:nth-child(2n) { border-right:0; }
.icon_menu > ul > li:nth-child(3) { border-bottom: 0; } 
.icon_menu > ul > li:nth-child(4) { border-bottom: 0; }   

.info_menu a { 
  display:block; width: 100%; height:100%; 
  font-size:12px; color:#8c8c8c; text-align: center; line-height:40px; font-weight: bold; }

.sns_menu { width:100%; height:60px; }

.sns_menu > ul { width: 100%; height: 35px; }
.sns_menu > ul > li { float: left; width:50%; height:100%; }
.sns_menu a { 
  display:block; width: 100%; height: 100%; line-height:35px;
  font-size:12px; color:#8c8c8c; text-align: center; font-weight: bold; }

.sns_menu a:before { 
  content:" "; display:inline-block; 
  width:16px; height:16px; margin-right:10px; margin-bottom:5px; vertical-align: middle;
  background: url(../img/ico_commin.png) no-repeat; 
  background-size: 500px 500px !important; }

.sns_menu li:nth-child(1) a:before { background-position: -180px -20px; }
.sns_menu li:nth-child(2) a:before { background-position: -180px 0; }


.basket { 
  float: right; width:30px; height:30px; 
  background: url(../img/ico_commin.png) no-repeat;
  background-position: -22px 5px;
  background-size: 500px 500px !important; }

.form_area { 
  position: absolute; top:60px; left:50%; transform: translateX(-50%);
  width:95%; min-width:250px; max-width:460px; height:33px;  }

form { float: left; width:92%; height:33px; border:2px solid #543019; box-sizing: border-box; }

fieldset { width: 100%; height: 100%; }

input {  width: 100%; height: 100%; font-size:12px; color:#333; }

.form_btn { float: right; width:8%; height:33px; background-color: #543019; }

.form_btn > a { 
  display:block; width: 100%; height: 100%; 
  background-image: url(../img/btn_search2.gif);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat; }

.list_wrap { width:100%; height:44px; border-top:1px solid #d1d1d1; border-bottom: 1px solid #d1d1d1; }

.list_wrap > ul { width:100%; height:100%; }

.list_wrap > ul > li { 
  float: left; width:25vw; max-width:120px; height:44px; 
  font-size:12px; text-align: center; line-height: 44px; 
  font-weight: bold; }

.list_wrap a { display:block; width: 100%; height: 100%; }

.only > a { line-height:18px; padding:3px 0; box-sizing: border-box; }

/* viewBox */
#viewBox { position: relative; height:auto; }

.view_indicator {
  position: absolute; bottom:20px; left:50%; z-index: 100; transform: translateX(-50%);
  width:144px; height:10px; }

.view_indicator > ul { width: 100%; height: 100%; }
.view_indicator > ul > li { 
  float: left; 
  margin:0 3px; width:10px; height:10px; 
  border-radius: 100%; background-color: #cdcfcf; }
.view_indicator a { display:block; width: 100%; height: 100%; }

.view_indicator > ul > li.action { background-color:#38a3a1; }

.view_area { position: relative; overflow: hidden; width:100%; height:100%; }

.view_area > ul { width:900%; height: 100%; }

.view_area > ul > li { 
  float: left; width:11.111111%; height:100%; }

.view_area a { display:block; width: 100%; height: 100%; }

.view_area img { max-width:100%; height:auto; }

/* sellerBox */
#sellerBox { 
  position: relative; height:350px; padding:10px; box-sizing: border-box;
  margin-bottom:8px; border-bottom: 1px solid #d3d3d3; }

h2 { margin-bottom:20px; text-transform: uppercase; font-size: 16px; color:#333; font-weight: normal; }

.more_btn { 
  position: absolute; top:10px; right:10px; 
  width:50px; height:18px; font-size: 12px; color:#505050; }

.more_btn > a { display:block; width: 100%; height: 100%; }

.more_btn > a:after { 
  content:" "; display:inline-block; width:6px; height:10px; margin-left:4px; 
  background: url(../img/ico_commin.png) no-repeat -95px 1px;
  background-size: 500px 500px !important; }

.seller_list { width:100%; max-width:460px; height:290px;  }

.seller_list > ul { width: 100%; height:230px; }

.seller_list > ul > li { float: left; width:50%; height:100%; }

.seller_list a { display:block; width: 100%; height: 100%; }

.seller_img { width:100%; height: 100%; } 

.seller_img > img { width:100%; height:100%; }

.seller_text { width: 100%; height:69px; padding:10px 0; box-sizing: border-box; }

.seller_text > em { 
  display:block;
  margin-bottom:5px; font-style: normal; font-weight: bold;  
  font-size:12px; color:#333; text-align: center; }

.price { display:block; text-align: center; font-size:14px; color:#333; font-weight: bold; }

.price > em { font-size:12px; color:#2c2c2c; font-style:normal; }




#beyond_lineBox { display:none; }
#productBox { height:384px; background-color: aquamarine; }
#pickBox { height:371px; background-color: darkkhaki; }
#reviewBox { height:803px; background-color: #adf; }
#noticeBox { display:none; }
#utilBox { height:156px; background-color: cornflowerblue; }
#footBox { height:241px; background-color: darkgoldenrod; }




} 


/* design-940px */
@media screen and (min-width:481px) and (max-width:1024px){

/* headBox */
#headBox { height:146px; }

.gnb_wrap { 
  position: relative;
  width: 100%; height:100px; 
  padding:15px; padding-bottom:5px; box-sizing: border-box; 
  background-color: #fff; }

h1 { 
  position: absolute; top:20px; left:50%; transform: translateX(-50%);
  width:112px; height:28px; 
  background-image: url(../img/logo.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat; }

/* btn */
.gnb_btn { 
  float: left; width:20px; height:20px; margin-top:5px;
  background: url(../img/ico_commin.png) no-repeat 0 -25px;
  background-size: 500px 500px !important; }

.gnb_open_btn { width: 100%; height: 100%; }

.gnb_open_btn > button { display:block; width: 100%; height: 100%; }

.gnbBox { 
  display:none;
  position:fixed; top:0; left:0; 
  width:260px; height:100%; 
  z-index: 1000; background-color: #fff; }

.gnbBg { 
  display:none;
  position: fixed; top:0; left:0;
  width: 100%; height: 100%; z-index: 999; background-color: #000; opacity:0.6;}

.gnb_close_btn { 
  position: absolute; top:20px; right:-30px; 
  width:20px; height:20px;
  background: url(../img/ico_commin.png) no-repeat 0 -45px;
  background-size: 500px 500px !important; }

.gnb_close_btn > button { display:block; width: 100%; height: 100%; }

.login { width:100%; height:135px; padding:26px; box-sizing: border-box; text-align: center;}

.login p { font-size:12px; }

.login a { 
  display:block; width: 115px; height:30px; 
  margin:auto; margin-top:20px; 
  font-size: 12px; font-weight: bold; line-height:30px;
  color:#572600; background-color: #99d7db; }

.open_menu { width: 100%; height:auto; background-color: #fff; }

.open_menu > ul { width: 100%; height: 100%; }

.open_menu > ul > li { 
  width:100%; height:50px; line-height: 30px;
  font-size:14px; border-top:1px solid #f0f0f0; 
  color:#572600; font-weight: bold; }

.open_menu > ul > li > a { 
  display:block; position: relative; width: 100%; height: 100%;  
  padding:10px 20px; box-sizing: border-box; }

.open_menu > ul > li > a:after { 
  content:" "; position: absolute; top:50%; transform: translateY(-50%); right:20px;
  width:15px; height:15px;
  background: url(../img/ico_commin.png) no-repeat;
  background-position: -95px -30px !important;
  background-size: 500px 500px !important;}

.open_menu > ul > li.on > a:after { 
  content:" "; position: absolute; top:50%; transform: translateY(-50%); right:20px;
  width:15px; height:15px;
  background: url(../img/ico_commin.png) no-repeat;
  background-position: -95px -45px !important;
  background-size: 500px 500px !important; }  

.open_area { display:none; width: 100%; height:auto; background-color: #fff; }

.open_area > .tab { width:100%; height:36px; background-color:#f0f0f0;  }

.tab > li { 
  float: left; width:50%; height:100%; color:#8c8c8c;
  font-size:13px; font-weight: bold; text-align: center;}

.category { width: 100%; height:auto; padding:20px; color:#585858; box-sizing: border-box; }

.category > li { width: 100%; height:auto; }
.category > li > a { display:block; width: 100%; height: 100%;  padding:8px; box-sizing: border-box; }

.line { display:none; width: 100%; height:auto; padding:20px; color:#585858; box-sizing: border-box; }

.line > li { width: 100%; height:auto; }
.line > li > a { display:block; width: 100%; height: 100%;  padding:8px; box-sizing: border-box; }

.icon_menu { width:100%; height:219px; background-color:#f0f0f0; }

.icon_menu > ul { width: 100%; height: 100%; }

.icon_menu > ul > li { 
  float: left; width:50%; height:100px; 
  color:#333; font-size:12px;
  border-right:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; box-sizing: border-box; }

.icon_menu > ul > li:nth-child(2n) { border-right:0; }
.icon_menu > ul > li:nth-child(3) { border-bottom: 0; } 
.icon_menu > ul > li:nth-child(4) { border-bottom: 0; } 

.icon_menu a { display:block; width: 100%; height: 100%; padding:20px 15px; box-sizing: border-box; }

.icon_menu li:nth-child(3) a { padding-bottom: 0; }

.icon_menu a:before { 
  content:" "; display:block; margin:auto;
  width:30px; height:30px; margin-bottom:10px; 
  background: url(../img/ico_commin.png) no-repeat;
  background-size: 500px 500px !important; }

.icon_menu li:nth-child(1) a:before { background-position: -145px 0 !important;}
.icon_menu li:nth-child(2) a:before { background-position: -145px -30px !important;}
.icon_menu li:nth-child(3) a:before { background-position: -145px -60px !important;}
.icon_menu li:nth-child(4) a:before { background-position: -145px -90px !important;}

.icon_menu span { display:block; text-align: center; font-weight: bold; }

.info_menu { width:100%; height:90px; background-color: #f0f0f0; }

.info_menu > ul { width: 100%; height: 100%; }
.info_menu > ul > li { 
  float: left; width:50%; height:40px; background-color: #fff;
  border-right:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; box-sizing: border-box; }

.icon_menu > ul > li:nth-child(2n) { border-right:0; }
.icon_menu > ul > li:nth-child(3) { border-bottom: 0; } 
.icon_menu > ul > li:nth-child(4) { border-bottom: 0; }   

.info_menu a { 
  display:block; width: 100%; height:100%; 
  font-size:12px; color:#8c8c8c; text-align: center; line-height:40px; font-weight: bold; }

.sns_menu { width:100%; height:60px; }

.sns_menu > ul { width: 100%; height: 35px; }
.sns_menu > ul > li { float: left; width:50%; height:100%; }
.sns_menu a { 
  display:block; width: 100%; height: 100%; line-height:35px;
  font-size:12px; color:#8c8c8c; text-align: center; font-weight: bold; }

.sns_menu a:before { 
  content:" "; display:inline-block; 
  width:16px; height:16px; margin-right:10px; margin-bottom:5px; vertical-align: middle;
  background: url(../img/ico_commin.png) no-repeat; 
  background-size: 500px 500px !important; }

.sns_menu li:nth-child(1) a:before { background-position: -180px -20px; }
.sns_menu li:nth-child(2) a:before { background-position: -180px 0; }


.basket { 
  float: right; width:30px; height:30px; 
  background: url(../img/ico_commin.png) no-repeat;
  background-position: -22px 5px;
  background-size: 500px 500px !important; }

.form_area { 
  position: absolute; top:60px; left:50%; transform: translateX(-50%);
  width:100%; height:33px; padding:0 15px; box-sizing: border-box;  }

form { 
  float: left; width:92%; min-width:414px; 
  height:33px; border:2px solid #543019; box-sizing: border-box; }

fieldset { width: 100%; height: 100%; }

input {  width: 100%; height: 100%; font-size:12px; color:#333; }

.form_btn { float: right; width:8%; height:33px; background-color: #543019; }

.form_btn > a { 
  display:block; width: 100%; height: 100%; 
  background-image: url(../img/btn_search2.gif);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat; }

.list_wrap { width:100%; height:44px; border-top:1px solid #d1d1d1; border-bottom: 1px solid #d1d1d1; }

.list_wrap > ul { width:100%; height:100%; }

.list_wrap > ul > li { 
  float: left; width:25%; height:44px; 
  font-size:12px; text-align: center; line-height: 44px; 
  font-weight: bold; }

.list_wrap a { display:block; width: 100%; height: 100%; }

.only > a { line-height:18px; padding:3px 0; box-sizing: border-box; }

/* viewBox */
#viewBox { position: relative; height:auto; }

.view_indicator {
  position: absolute; bottom:20px; left:50%; z-index: 100; transform: translateX(-50%);
  width:144px; height:10px; }

.view_indicator > ul { width: 100%; height: 100%; }
.view_indicator > ul > li { 
  float: left; 
  margin:0 3px; width:10px; height:10px; 
  border-radius: 100%; background-color: #cdcfcf; }
.view_indicator a { display:block; width: 100%; height: 100%; }

.view_indicator > ul > li.action { background-color:#38a3a1; }

.view_area { position: relative; overflow: hidden; width:100%; height:100%; }

.view_area > ul { width:900%; height: 100%; }

.view_area > ul > li { 
  float: left; width:11.111111%; height:100%; text-align: center; }

.view_area a { display:block; width: 100%; height: 100%; }

.view_area img { max-width:100%; height:auto; }


/* sellerBox */
#sellerBox { 
  position: relative; height:400px; padding:15px; box-sizing: border-box;
  margin-bottom:8px; border-bottom: 1px solid #d3d3d3; }

h2 { margin-bottom:20px; text-transform: uppercase; font-size: 16px; color:#333; font-weight:bold; }

.more_btn { 
  position: absolute; top:10px; right:10px; 
  width:50px; height:18px; font-size: 12px; color:#505050; }

.more_btn > a { display:block; width: 100%; height: 100%; }

.more_btn > a:after { 
  content:" "; display:inline-block; width:6px; height:10px; margin-left:4px; 
  background: url(../img/ico_commin.png) no-repeat -95px 1px;
  background-size: 500px 500px !important; }

.seller_list { width:100%; max-width:994px; height:320px;  }

.seller_list > ul { width: 100%; height: 100%; }

.seller_list > ul > li { float: left; width:50%; height:100%; }

.seller_list a { display:block; width: 100%; height: 100%; }

.seller_img { width:100%; max-width:274px; height:auto; margin:auto; } 

.seller_img > img { width:100%; height:auto; }

.seller_text { width: 100%; height:69px; padding:10px 0; box-sizing: border-box; }

.seller_text > em { 
  display:block;
  margin-bottom:5px; font-style: normal; font-weight: bold;  
  font-size:12px; color:#333; text-align: center; }

.price { display:block; text-align: center; font-size:14px; color:#333; font-weight: bold; }

.price > em { font-size:12px; color:#2c2c2c; font-style:normal; }






#beyond_lineBox { display:none; }
#productBox { height:384px; background-color: aquamarine; }
#pickBox { height:371px; background-color: darkkhaki; }
#reviewBox { height:803px; background-color: #adf; }
#noticeBox { display:none; }
#utilBox { height:156px; background-color: cornflowerblue; }
#footBox { height:241px; background-color: darkgoldenrod; }


}



/* design-1420px */
@media screen and (min-width:1025px){

/* headBox */
#headBox { max-width:1440px; margin:auto; height:156px; }

.gnb_wrap { 
  width:100%; max-width:1152px; height:105px; margin:auto; 
  padding:30px 0 20px 0; box-sizing: border-box; }

h1 { float: left; width:170px; height:46px; }

h1 img { width: 100%; height: 100%; }

.unbBox { float: right; width:850px; height:38px; margin-top:10px; }

.unb_list { 
  float: left; width:435px; height:20px; 
  margin-top:15px; margin-right:15px; }

.unb_list > li { 
  float: left; width:auto; height:100%; font-weight: bold;
  padding:0 9px; box-sizing: border-box; color:#807974; font-size:13px; }

.unb_list > li > a { display:block; width: 100%; height: 100%; }

.form_area { 
  position: relative;
  float: left; width:340px; height:38px; 
  border:2px solid #572600; border-radius:20px;
  padding:0 20px 0 15px; box-sizing: border-box; }

form { width:281px; height:34px;  }

fieldset { width:100%; height: 100%; }

input { width:100%; height: 100%; }

.form_btn { 
  position: absolute; 
  width:20px; height:20px; top:50%; transform: translateY(-50%); right:12px;
  background-image: url(../img/pc_ico_search.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%; }

.form_btn > a { display:block; width: 100%; height: 100%; }

.sns_area { float: right; width:60px; height:21px; margin-top:8px; }

.sns_area > li {
  float: left; width:50%; height:100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%; }

.sns_area > li:nth-child(1) { background-image: url(../img/ico_facebook.gif); }
.sns_area > li:nth-child(2) { background-image: url(../img/ico_instar.gif); }

.sns_area > li > a { display:block; width: 100%; height: 100%; }

/* gnbBox */

.gnbBox { width:100%; height:51px; border-top:1px solid #d5d5d5; border-bottom:1px solid #d5d5d5; }

.gnbBox > ul { max-width:1152px; height:100%; margin:auto; }

.gnbBox > ul > li { 
  float: left; width:16.6%; height:100%; text-align: center;
  color:#333; font-size:18px; line-height:51px; font-weight: bold; }

.gnbBox > ul > li:nth-child(1) { position: relative; }

.all_product > a:after { 
  content:" "; display:inline-block; width:16px; height:8px; 
  margin-left:5px;
  background-image: url(../img/blt_arrow1_off.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain; }

.gnbBox > ul > li > a { display:block; width: 100%; height: 100%; }

.product_menu { display:none; width:1152px; height:auto; box-shadow:3px 3px 11px #5a5a5a; background-color: #fff; }

.tab { width:100%; height:56px; background-color: #faf8ef; }

.tab > li { 
  float: left; width:auto; height:100%; 
  color:#333; font-size:15px;
  line-height:56px; padding: 0 30px; box-sizing: border-box; }

.tab > li > a { display:block; width: 100%; height: 100%; }

/* category_area */
.category_area { width:100%; height:496px; padding:30px 0 56px; box-sizing: border-box; }

.category_area > ul { width:100%; height: 100%; }

.category_area > ul > li { float: left; width:161px; height:100%; margin-left:30px; border-right:1px solid #f2f2f2;  }

.category_area > ul > li > strong { 
  display:block; width: 100%; height:20px; line-height:20px; margin-bottom:20px; font-size:13px; color:#333; }

.category_area strong > a { display:block; width: 100%; height: 100%; text-align: left; }

.category_area .list { width: 100%; height: 100%; }

.category_area .list > li { 
  width:100%; height:20px; line-height:20px; margin-bottom:10px; 
  font-size:13px; color:#807974; }

.category_area .list > li > a { display:block; width: 100%; height: 100%; text-align: left; }

/* line_area */
.line_area { width:100%; height:608px; padding:30px 0 56px; box-sizing: border-box; }

.line_area > ul { width:100%; height: 100%; }

.line_area > ul > li { float: left; width:161px; height:100%; margin-left:30px; border-right:1px solid #f2f2f2;  }

.line_area > ul > li > strong { 
  display:block; width: 100%; height:20px; line-height:20px; margin-bottom:20px; font-size:13px; color:#333; }

.line_area strong > a { display:block; width: 100%; height: 100%; text-align: left; }

.line_area .list { width: 100%; height: 100%; }

.line_area .list > li { 
  width:100%; height:20px; line-height:20px; margin-bottom:10px; 
  font-size:13px; color:#807974; }

.line_area .list > li > a { display:block; width: 100%; height: 100%; text-align: left; }

/* viewBox */
#viewBox { position: relative; height:437px; }

.view_title_indicator { 
  position: absolute; bottom:-50px; left:50%; transform: translateX(-50%); 
  width:100%; height:50px; border-bottom:1px solid #d3d2d2; background-color: #fff; }

.view_title_indicator > ul { max-width:1152px; height:100%; margin:auto; }

.view_title_indicator > ul > li { 
  float: left; width:11.1%; height:100%; font-weight: bold; 
  line-height: 50px; text-align: center; font-size:16px; 
  border-right:1px solid #f1f1f1; box-sizing: border-box; color:#3a3a3a; }

.view_title_indicator a { display:block; width: 100%; height: 100%; }

.view_area { overflow: hidden; position: relative; width:100%; height:437px; }

.view_area > ul { width:900%; height:100%; }

.view_area > ul > li { float: left; width:11.1%; height: 100%; }

.view_area a { display:block; width: 100%; height: 100%; }

.view_area img { width:100%; height: 100%; object-fit:cover; object-position:45% 50%; }

.view_area > ul > li.on a { color:#835a47; border-bottom: 2px solid #835a47; }

/* sellerBox */
#sellerBox { 
  position: relative; max-width:1152px; height:500px;
  margin:auto; margin-top:50px; background-color: yellowgreen; }

h2 { 
  text-transform: uppercase; font-size:28px; color:#333; 
  font-weight: normal; padding:100px 0 30px 0; box-sizing: border-box; }

.seller_list { width:100%; max-width:1152px; height:410px; background-color: #adf; }

/* .seller_list > ul { width:800%; height: 100%; } */

/* .seller_list > ul > li { float: left; width:20%; height: 100%; background-color: beige; } */

/* .seller_list a { } */







#beyond_lineBox { max-width:1440px; margin:auto; height:900px; background-color: darkorange; }
#productBox { max-width:1440px; margin:auto; height:491px; background-color: aquamarine; }
#pickBox { max-width:1440px; margin:auto; height:491px; background-color: darkkhaki; }
#reviewBox { max-width:1440px; margin:auto; height:300px; background-color: #adf; }
#noticeBox { max-width:1440px; margin:auto; height:55px; background-color: darkslateblue; }
#utilBox { display:none; }
#footBox { max-width:1440px; margin:auto; height:190px; background-color: darkgoldenrod; }

}