@media screen and (min-width:481px) and (max-width:1024px){
  /* productBox */
.product_wrap { width: 100%; height:auto; }
#productBox { 
  position: relative; height:auto; padding:15px; box-sizing: border-box;
  border-bottom: 1px solid #d3d3d3; }

.product_list { width:100%; max-width:994px; height:350px;  }

.product_list > ul { width: 100%; height: 100%; }

.product_list > ul > li { float: left; width:50%; height:100%; }

.product_list a { display:block; width: 100%; height: 100%; }

.product_img { width:100%; max-width:274px; height:auto; margin:auto; } 

.product_img > img { width:100%; height:auto; }

.product_text { width: 100%; height:69px; text-align: center; padding:10px 0; box-sizing: border-box; }

.product_text > em { 
  display:block;
  margin-bottom:5px; font-style: normal; font-weight: bold;  
  font-size:12px; color:#333; }

.price { display:inline-block; font-size:14px; color:#333; font-weight: bold; }

.price > em { font-size:10px; color:#2c2c2c; font-style:normal; }


}