#wrap { width:100%; height:auto; min-height:700px; }
#headBox { width:100%; height:auto; }
#viewBox { width:100%; height:auto; }
#sellerBox { width:100%; height:auto; }
#beyond_lineBox { width:100%; height:auto; }
#productBox { width:100%; height:auto; }
#reviewBox { width:100%; height:auto; }
#noticeBox { width:100%; height:auto; }
#footBox { width:100%; height:auto; }